body {
    margin: 0;
    padding: 0;
    background-color: #0069AF;
}

.buscas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.busca-inputs {
    display: flex;
    flex-direction: row;
    gap: 5px;

}

.departureAirPort, .arrivalAirPort, .departureDate, .passengerAmount, .searchButton {
    width: 100px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    margin-bottom: 20px;
}

input[type=date]:invalid {
    color: #999;
}

.resultados-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.resultados-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.resultados-container li {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 15px;
    font-family: Arial, sans-serif;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    width: 600px;
}
